<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.blinkt.openvpn"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />



    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        tools:ignore="UnusedAttribute">
        <!--android:banner="@mipmap/banner_tv"-->
        <!--android:name=".core.ICSOpenVPNApplication"-->
        <!--android:label="@string/app"-->
        <!--android:theme="@style/blinkt"-->

        <activity
            android:name=".activities.VPNPreferences"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".activities.DisconnectVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=".DisconnectVPN"
            android:theme="@style/blinkt.dialog" />


        <service
            android:exported="true"
            android:name=".core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <!--android:process=":openvpn">-->
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:exported="true"
            android:name=".api.ExternalOpenVPNService"
            tools:ignore="ExportedService">
            <!--android:process=":openvpn"-->

            <intent-filter>
                <action android:name="de.blinkt.openvpn.api.IOpenVPNAPIService" />
            </intent-filter>
        </service>
        <service
            android:name=".core.OpenVPNStatusService"
            android:exported="true" />
            <!--android:process=":openvpn" />-->
        <service
            android:exported="true"
            android:name=".OpenVPNTileService"
            android:icon="@drawable/ic_quick"
            android:label="@string/qs_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:value="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>

        <activity android:name=".api.GrantPermissionsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".api.ConfirmDialog"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name=".OnBootReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.ConfigConverter"
            android:excludeFromRecents="true"
            android:label="Convert Config File"
            android:taskAffinity=".ConfigConverter"
            android:exported="true"
            android:uiOptions="splitActionBarWhenNarrow"
            tools:ignore="ExportedActivity">
            <intent-filter
                android:label="@string/import_config"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-openvpn-profile" />
            </intent-filter>
            <intent-filter
                android:label="@string/import_config"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/ovpn" />
            </intent-filter>
            <intent-filter android:label="@string/import_config">

                <!-- http://stackoverflow.com/questions/7f030832/associating-certain-file-extension-to-my-android-application/7102838#7102838 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*..*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*.ovpn" />
                <data android:pathPattern=".*..*.ovpn" />
                <data android:pathPattern=".*.ovpn" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".LaunchVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:label="@string/vpn_launch_title"
            android:taskAffinity=".LaunchVPN"
            android:theme="@style/blinkt.dialog"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:exported="true"
            android:name=".activities.CreateShortcuts"
            android:excludeFromRecents="true"
            android:label="@string/vpn_shortcut"
            android:taskAffinity=".CreateShortcuts"
            android:theme="@android:style/Theme.DeviceDefault.Light.DialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:exported="true"
            android:name=".activities.OpenSSLSpeed"
            android:label="@string/title_activity_open_sslspeed"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.blinkt.openvpn.activities.MainActivity" />
        </activity>
        <activity
            android:exported="true"
            android:name=".api.RemoteAction"
            />
        <activity-alias
            android:exported="true"
            android:name=".api.DisconnectVPN"
            android:targetActivity=".api.RemoteAction" />

        <activity-alias
            android:exported="true"
            android:name=".api.ConnectVPN"
            android:targetActivity=".api.RemoteAction" />
    </application>

</manifest>